extends ../partials/head
block content
  body
    .all-wrapper= __('Klein')
      br
      button#login-button-password
        | Login Password
      input#login-key-value
      button#login-button-key
        | Login Key
      button#logout-button
        | Logout
      br
      button#exec-button
        | Execute
      input#id-value
      button#end-stream-button
        | End stream
      br
      button#notification-button
        | Notification
      br
      br
      div Local Keys
      button#create-local-key-button
        | Create Local Key
      input#local-key-value
      button#remove-local-key-button
        | Remove Local Key
      button#show-local-keys-button
        | Show Local Keys
      br
      br
      div Remote Keys
      input#remote-key-value
      button#add-remote-key-button
        | Add Remote Key
      button#remove-remote-key-button
        | Remove Remote Key
      button#show-remote-keys-button
        | Show Remote Keys
      br
      button#check-availability-button
        | Check Availability For Installation
      br
      br
      div Docker
      button#install-docker-button
        | Install Docker
      br
      button#uninstall-docker-button
        | Uninstall Docker
      br
      br
      div Server Listener
      button#install-server-listener-button
        | Install Server Listener
      br
      button#uninstall-server-listener-button
        | Uninstall Server Listener
      br
      button#update-server-listener-button
        | Update Server Listener
      br
      br
      div Node
      button#install-node-button
        | Install Node
      br
      button#uninstall-node-button
        | Uninstall Node
      br
      button#restart-node-button
        | Restart Node
      br
      button#start-node-button
        | Start Node
      br
      button#stop-node-button
        | Stop Node
      br
      button#node-logs
        | Node Logs
      br
      br
      div Wallet Operations
      input#wallet-name-value(placeholder='Wallet Name')
      input#mnemonic-value(placeholder='Mnemonic')
      input#new-wallet-name-value(placeholder='New Wallet Name')
      button#create-wallet-button
        | Create Wallet
      br
      button#delete-wallet-button
        | Delete Wallet
      br
      button#show-button
        | Get Pub Key
      br
      button#list-wallets-button
        | List Wallets
      br
      button#recover-wallet-button
        | Recover Wallet
      br
      button#rename-wallet-button
        | Rename Wallet
      br
      br
      div TX Operations
      button#send-token-button
        | Send Token