doctype html
html
    include ../partials/head.pug
    body
      .all-wrapper login
        br
        button#login-button-key
          | Login Key
        br
        button#login-button-password
          | Login Password
        br
        button#exec-button
          | Execute
        br
        button#exec-stream-button
          | Execute Stream
        br
        input#id-value
        button#end-stream-button
          | End stream
        br
        button#logout-button
          | Logout
        br
        button#notification-button
          | Notification
        br
        button#pubkey-get-button
          | Create Pubkey Local
        br
        button#pubkey-remove-button
          | Remove Pubkey Local
        br
        button#pubkey-show-button
          | Show Pubkey Local
        