doctype html
html
    include ../partials/head.pug
    body
      .all-wrapper login
        button#login-button
          | Login
        button#exec-button
          | Execute
        button#logout-button
          | Logout