doctype html
html
    include ../partials/head.pug
    body
      .all-wrapper login
        button#login-button-key
          | Login Key
        button#login-button-password
          | Login Password
        button#exec-button
          | Execute
        button#logout-button
          | Logout
        button#notification-button
          | Notification