:root {
  --index-installation-project-height: 120px;
  --index-installation-progress-each-part-height: 10px;
}

.index-installation-wrapper {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--index-content-padding);
  background-color: var(--background-box-color);
  border-radius: var(--index-content-wrapper-curvature);
  overflow: hidden;
}
.index-installation-project-wrapper {
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.index-installation-project-inner-wrapper {
  height: calc(var(--index-installation-project-height));
  min-height: calc(var(--index-installation-project-height));
  width: 100%;
  min-width: 100%;
  margin-bottom: var(--index-content-inner-padding);
}
.index-installation-project-image {
  height: calc(var(--index-installation-project-height));
  min-height: calc(var(--index-installation-project-height));
  width: calc(var(--index-installation-project-height));
  min-width: calc(var(--index-installation-project-height));
  margin-right: var(--index-content-inner-padding);
  border-radius: var(--index-general-each-project-image-curvature);
}
.index-installation-project-content-wrapper {
  height: 100%;
  min-height: 100%;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.index-installation-project-content-header-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  align-items: center;
}
.index-installation-project-name {
  font-weight: 700;
  font-size: var(--index-font-size-huge);
  line-height: 1;
  color: var(--text-title-color);
}
.index-installation-project-link {
  width: fit-content;
  min-width: fit-content;
  height: fit-content;
  min-height: fit-content;
  margin-bottom: auto;
  cursor: pointer;
}
.index-installation-project-link-icon {
  height: var(--index-general-each-project-link-icon-size);
  min-height: var(--index-general-each-project-link-icon-size);
  width: auto;
  min-width: auto;
  margin-left: calc(var(--index-font-size-medium) / 2);
  fill: var(--main-color);
}
.index-installation-project-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  color: var(--text-title-color);
  font-size: var(--index-font-size-big);
}
.index-installation-warning-wrapper {
  display: flex;
  align-items: center;
  gap: var(--index-content-inner-padding);
  margin-top: var(--index-content-inner-gap);
  margin-bottom: var(--index-content-inner-gap);
}
.index-installation-warning-icon {
  height: var(--index-general-each-project-link-icon-size);
  min-height: var(--index-general-each-project-link-icon-size);
  width: auto;
  min-width: auto;
  fill: var(--warning-color);
}
.index-installation-warning-text {
  font-weight: 300;
  color: var(--text-title-color);
  font-size: var(--index-font-size-big);
}
.index-installation-info-wrapper {
  display: flex;
  justify-content: space-between;
}
.index-installation-info-text {
  font-weight: 300;
  color: var(--text-description-color);
  font-size: var(--index-font-size-big);
}
.index-installation-progress-wrapper {
  width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index-installation-progress-each-part {
  height: var(--index-installation-progress-each-part-height);
  min-height: var(--index-installation-progress-each-part-height);
  width: auto;
  min-width: auto;
  fill: var(--input-placeholder-color);
}
.index-installation-progress-each-part-colored {
  fill: var(--main-color);
}
