:root {
  --content-max-width: 1900px;
  --content-gap: 40px;

  --partials-header-navbar-width: 250px;
  --partials-header-navbar-vertical-padding: 33px;
  --partials-header-navbar-horizontal-padding: 24px;
  --partials-header-navbar-curvature: 12px;
  --partials-header-navbar-spacing: 10px;
  --partials-header-navbar-wrapper-margin-right: 20px;
  --partials-header-navbar-wrapper-collapse-duration: .3s;

  --partials-header-resize-button-size: 32px;
  --partials-header-resize-button-curvature: 8px;
  --partials-header-resize-button-icon-height: 12px;

  --partials-header-each-subtitle-font-size: 12px;

  --partials-header-each-button-height: 40px;
  --partials-header-each-button-curvature: 8px;
  --partials-header-each-button-icon-width: 18px;
  --partials-header-each-button-text-font-size: 15px;
  --partials-header-each-button-shortcut-font-size: 12px;
}

.partials-all-wrapper {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  padding: var(--content-gap);
  background-color: var(--background-all-color);
  /* overflow: hidden; */
}
.partials-all-inner-wrapper {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  padding-right: calc(max(0, 100vw - var(--content-max-width)));
  background-color: var(--background-all-color);
  /* overflow: hidden; */
}

.partials-header-navbar-wrapper {
  height: 100%;
  min-height: 100%;
  width: var(--partials-header-navbar-width);
  min-width: var(--partials-header-navbar-width);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--partials-header-navbar-vertical-padding) var(--partials-header-navbar-horizontal-padding);
  margin-right: var(--partials-header-navbar-wrapper-margin-right);
  background: var(--background-box-color);
  border-radius: var(--partials-header-navbar-curvature);
  overflow: hidden;
  transition:
    width var(--partials-header-navbar-wrapper-collapse-duration),
    min-width var(--partials-header-navbar-wrapper-collapse-duration),
    padding-left var(--partials-header-navbar-wrapper-collapse-duration),
    padding-right var(--partials-header-navbar-wrapper-collapse-duration),
    margin-right var(--partials-header-navbar-wrapper-collapse-duration);
}
.partials-header-navbar-wrapper-hidden {
  width: 0;
  min-width: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.partials-header-resize-button-wrapper {
  position: relative;
}
.partials-header-resize-button {
  position: absolute;
  top: calc(var(--partials-header-resize-button-size));
  left: calc(var(--partials-header-navbar-width) - var(--partials-header-resize-button-size) / 2);
  height: var(--partials-header-resize-button-size);
  min-height: var(--partials-header-resize-button-size);
  width: var(--partials-header-resize-button-size);
  min-width: var(--partials-header-resize-button-size);
  align-items: center;
  justify-content: center;
  background-color: var(--background-all-color);
  border: 1px solid var(--background-box-color);
  border-radius: var(--partials-header-resize-button-curvature);
  box-shadow: 0 0 4px var(--background-shadow-color);
  cursor: pointer;
  transition: left var(--partials-header-navbar-wrapper-collapse-duration);
}
.partials-header-resize-button-collapsed {
  left: calc(-1 * var(--partials-header-resize-button-size) / 2);
}
.partials-header-resize-button-icon {
  height: var(--partials-header-resize-button-icon-height);
  min-height: var(--partials-header-resize-button-icon-height);
  width: auto;
  min-width: auto;
  fill: var(--text-subtitle-color);
}
.partials-header-resize-button-reversed {
  right: calc(-1 * var(--partials-header-resize-button-size) / 2);
  transform: rotate(180deg);
}

.partials-header-each-subtitle {
  height: fit-content;
  min-height: fit-content;
  font-weight: 500;
  font-family: var(--font-family-inter);
  font-size: var(--partials-header-each-subtitle-font-size);
  color: var(--text-subtitle-color);
  margin-bottom: var(--partials-header-navbar-spacing);
  margin-left: var(--partials-header-navbar-spacing);
}

.partials-header-each-buttons-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  flex-direction: column;
  margin-bottom: var(--partials-header-navbar-spacing);
}
.partials-header-each-button {
  height: var(--partials-header-each-button-height);
  min-height: var(--partials-header-each-button-height);
  width: 100%;
  min-width: 100%;
  align-items: center;
  padding: 0 var(--partials-header-navbar-spacing);
  margin-bottom: var(--partials-header-navbar-spacing);
  background-color: var(--background-box-color);
  border-radius: var(--partials-header-each-button-curvature);
  cursor: pointer;
}
.partials-header-each-button:hover {
  background-color: var(--background-highlight-color);
}
.partials-header-each-button:hover .partials-header-each-button-shortcut {
  display: unset;
}
.partials-header-each-button-icon {
  height: auto;
  min-height: auto;
  width: var(--partials-header-each-button-icon-width);
  min-width: var(--partials-header-each-button-icon-width);
  margin-right: var(--partials-header-navbar-spacing);
  fill: var(--text-subtitle-color);
}
.partials-header-each-button-text {
  font-weight: 400;
  font-family: var(--font-family-anek-bangla);
  font-size: var(--partials-header-each-button-text-font-size);
  color: var(--text-subtitle-color);
  margin-right: auto;
  overflow: hidden;
  white-space: nowrap;
}
.partials-header-each-button-shortcut {
  display: none;
  font-weight: 200;
  font-family: var(--font-family-anek-bangla);
  font-size: var(--partials-header-each-button-shortcut-font-size);
  color: var(--text-subtitle-color);
}

.partials-header-help-button {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  align-items: center;
  margin-top: auto;
  margin-left: var(--partials-header-navbar-spacing);
  cursor: pointer;
  text-decoration: none;
}
.partials-header-help-button:hover .partials-header-help-text {
  font-weight: 500;
}
.partials-header-help-icon {
  height: auto;
  min-height: auto;
  width: var(--partials-header-each-button-icon-width);
  min-width: var(--partials-header-each-button-icon-width);
  margin-right: var(--partials-header-navbar-spacing);
  fill: var(--text-subtitle-color);
}
.partials-header-help-text {
  font-weight: 400;
  font-family: var(--font-family-anek-bangla);
  font-size: var(--partials-header-each-button-text-font-size);
  color: var(--text-subtitle-color);
  margin-right: auto;
}

.partials-header-content-wrapper {
  height: 100%;
  min-height: 100%;
  flex: 1;
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  .partials-all-wrapper {
    overflow-x: auto;
  }
  .partials-all-inner-wrapper {
    width: calc(1000px - 2 * var(--content-gap));
    min-width: calc(1000px - 2 * var(--content-gap));
  }
}